body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

header {
  background-color: #0f172a;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoutBtn {
  background-color: #3a8edb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#logoutBtn:hover {
  background-color: #3a8edb;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 30px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f0f8ff;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 12px 0;
  font-family: 'Segoe UI', sans-serif;
}

.social-icons {
  margin-bottom: 8px;
}

.social-icons a {
  color: white;
  margin: 0 12px;
  font-size: 22px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1da1f2; /* Light blue on hover */
}
