body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#009688;
  margin-bottom: 20px;
}
p{
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2193b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1a7d96;
}

#loginMessage {
  margin-top: 10px;
  color: red;
}

.nav-link {
  margin-top: 15px;
}
